@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
  --warnaUtamaTeks: #232e35;
  --warnaKeduaTeks: #656d72;

  --warnaBorder: #f1f1f1;
  --warnaGaris: #d9d9d9;

  --warnaUtamaBG: #fff;
  --warnaKeduaBG: #fbfbfb;
  --warnaKetigaBG: #f5f3fe;

  --warnaUtamaIcon: #7e74f1;
  --warnaKeduaIcon: #5d51e8;

  --sectionPadding: 6rem 0;
  --radiusBorderItem: 0.7rem;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto";
}

h1,h2,h3,h4,h5,h6, strong {
  color: var(--warnaUtamaTeks);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p, span, label, input, textarea, li {
  color: var(--warnaKeduaTeks)
}

a {
  text-decoration: none;
}

.main-container{
  width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .main-container{
    width: 90%;
  }
}

.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--warnaBorder);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.section-title{
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title{
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: var(--warnaKeduaTeks);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;

}

.pre-title::before{
  content: "";
  width: 30px;
  height: 1px;
  background: var(--warnaGaris);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 3rem;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a{
  color: var(--warnaUtamaTeks);
}

nav ul li{
  display: flex;
  align-items: center;
}

nav ul li a{
  color: var(--warnaUtamaTeks);
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger{
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

#hero{
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name{
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span{
  color: var(--warnaUtamaIcon);
}

.hero-right img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* This ensures the aspect ratio is maintained */
}


.hero-right{
  display: flex;
  justify-content: center;
}

#Kemampuan {
  background-color: var(--warnaKeduaBG);
  padding: var(--sectionPadding);
}

.Kemampuan .pre-title{
  margin: 0 auto;
}

.Kemampuan-title{
  text-align: center;
}

.Kemampuan{
  padding: 3rem 2rem;
  text-align: center;
  background: var(--warnaUtamaBG);
  border-radius: var(--radiusBorderItem);
}

.Kemampuan h4{
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.iconKemampuan{
  background: var(--warnaKetigaBG);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.gallery-images img {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
}